@import url("reusableStyles.css");
@import url("../js/dojo-release-1.7.2-src/larson/login/resources/loginForm.css");
@import url("../js/dojo-release-1.7.2-src/larson/login/resources/register.css");

/* main application styles */

body {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: .8em;
	line-height: 1.3em;
	margin: 10px 30px;
	padding: 0;
}

a {
	color: #000;
}
a:hover {
	color: #666;
}

.oneItem {
	width: 250px;
	margin: 0 10px 10px 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float: left;
}

.oneItem:last-child {
	margin-right: 0;
}

.mainContentArea {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.secondToolbar {
	margin-right: 10px;
}

.inlineError {
	font-size: .85em;
	color: red;
	line-height: 1.5em;
}

.plainTextButton .dijitButtonNode {
	border: 0;
	padding: 0;
}

.plainTextButtonHover .dijitButtonNode .dijitButtonText {
	color: #666;
	text-decoration: underline;
}

.larson .dijitButton.cancelButton .dijitButtonNode {
	background: none;
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
}
.larson .dijitButton.cancelButton .dijitButtonNode .dijitButtonText {
	text-decoration: underline;
}
.larson .dijitButtonHover.cancelButton .dijitButtonNode .dijitButtonText {
	text-decoration: none;
}