/* Button | DropDownButton | ComboButton | ToggleButton
 * 
 * Styling Buttons mainly includes:
 * 
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types 
 *
 * 2. Button text
 * 		.dijitButtonText
 * 
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 * 
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *      
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states 
 */
.larson .dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */

  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.larson .dijitButton .dijitButtonNode,
.larson .dijitDropDownButton .dijitButtonNode,
.larson .dijitComboButton .dijitButtonNode,
.larson .dijitToggleButton .dijitButtonNode {
  /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

  border: 1px solid #999999;
  padding: 7px;
  background-color: #dfdfdf;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.larson .dijitComboButton .dijitArrowButton {
  border-left-width: 0;
  padding: 4px 2px 4px 2px;
  /* TODO: still needed? */

}
/*arrow styles for down/up/left/right directions*/
.larson .dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-image: url("images/buttonArrows.png");
  background-repeat: no-repeat;
  background-position: -51px 53%;
}
.larson .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}
.larson .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}
.larson .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
.larson .dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}
.larson .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}
.larson .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}
.larson .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}
.larson .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
  color: #000000;
}
/* hover status */
.larson .dijitButtonHover .dijitButtonNode,
.larson .dijitDropDownButtonHover .dijitButtonNode,
.larson .dijitComboButton .dijitButtonNodeHover,
.larson .dijitComboButton .dijitDownArrowButtonHover,
.larson .dijitToggleButtonHover .dijitButtonNode {
  border-color: #999999;
  background-color: #cdcdcd;
  color: #fff;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* checked status */
.larson .dijitButtonActive .dijitButtonNode,
.larson .dijitDropDownButtonActive .dijitButtonNode,
.larson .dijitComboButtonActive .dijitButtonNode,
.larson .dijitToggleButtonActive .dijitButtonNode {
  background-color: #cdcdcd;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
/* disabled status */
.larson .dijitButtonDisabled,
.larson .dijitDropDownButtonDisabled,
.larson .dijitComboButtonDisabled,
.larson .dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}
.larson .dijitButtonDisabled .dijitButtonNode,
.larson .dijitDropDownButtonDisabled .dijitButtonNode,
.larson .dijitComboButtonDisabled .dijitButtonNode,
.larson .dijitToggleButtonDisabled .dijitButtonNode {
  background-position: 0 -149px;
  background-color: #efefef;
  border: solid 1px #efefef;
  color: #818181;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.larson .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
.larson .dijitButtonDisabled .dijitButtonText,
.larson .dijitDropDownButtonDisabled .dijitButtonText,
.larson .dijitComboButtonDisabled .dijitButtonText,
.larson .dijitToggleButtonDisabled .dijitButtonText {
  color: #999;
}
/* for ComboButton */
.larson table.dijitComboButton {
  border-collapse: separate;
  /* override dijit.css so that ComboBox rounded corners work */

}
.dj_ie6 .larson .dijitButtonNode {
  background-image: none;
}
.larson .dijitComboButton .dijitStretch {
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.larson .dijitComboButton .dijitArrowButton {
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
